html{
	font-family: 'Slabo 27px', serif; font-weight: 400;
}

.title{
	color: #1B1B1C;

	}

a {
      text-decoration:none;
      color: #1B1B1C;
   }

.underline{
  border-bottom: 2px dashed #888;
  display: inline;
}

.vcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.profile{
	width: 25%
}

@media only screen and (max-width : 480px) {

  .profile {
      width: 90vw;
  }
}

.back{
	text-align: center;
}

.proj{
	width: 20vw;
}